body {
    background-color: rgb(103, 189, 152);
    height: 100vh;
}
.main {
    margin-top: 10px;
}
h2 {
    font-family: Garamond;
}

input {
    height: 40px;
    border: 2px solid dodgerblue;
    border-radius: 5px;
}
button {
    margin-left: 10px;
    width: 100px;
    margin-bottom: 5px;
}
i:hover {
    cursor: pointer;
}